.business-card {
  border: 1px solid #ccc;
  padding: 15px;
  transition: background-color 0.3s ease;
}

.business-card:hover {
  background-color: #f0f0f0;
}

.services-list {
  margin-top: 15px;
}

.services-list ul {
  list-style: none;
  padding-left: 0;
}

.services-list li {
  margin-bottom: 5px;
}

.service-page {
  margin-top: 50px; /* Adjust as needed */
}

.service-section {
  border: 1px solid #ccc;
  padding: 15px;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.service-section:hover {
  background-color: #f0f0f0;
}
